<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" />
    <title>Document</title>
</head>

<body>
    <form action="register" method="post">
        <div class="form">
            <div class="register">
                <h1>Register</h1>
                <p>Please fill in this form to create an account.</p>
                <hr>

                {{!-- <select name="townships" class="kasi">

                    <option >--townships--</option>

                    {{#each townships}}
                    <option value="{{id}}">{{area_name}}</option>
                    {{/each}}

                </select><br><br> --}}
                <input type="text" placeholder="Enter Username" name="username" id="user" required><br><br>

                <hr>

                <button class="submitbtn" type="submit">Register</button>

                {{#if messages.error}}
                <div class="errors">
                    <h5 class="success">{{messages.error}}</h5>
                </div>
                {{/if}}
                <p>Already have an account? <a href="/login">Sign in</a>.</p>

            </div>
        </div>


    </form>


</body>

</html>