/* Add a black background color to the top navigation */
.topnav {
    background-color: #ddd;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 19px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #BC9CB0;
    color: white;
}


.towns {
    background-color: #BC9CB0;
    color: white;
    border-radius: 25pt;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    width: 600px;
    height: 250px;
}

.register {
    background-color: #BC9CB0;
    color: white;
    border-radius: 25pt;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    width: 600px;
    height: 250px;
}

.register {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.imgcontainer {
    background-color: #BC9CB0;
    color: white;
    border-radius: 25pt;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    width: 600px;
    height: 250px;
}



h3 {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

h1 {

    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

p {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

input {
    margin-left: 30%;
}
select{
    margin-left: 30%;
}

button{
    margin-left: 30%;
}

.form {
    margin-left: auto;
    margin-right: auto;
    width: 60%;

}


